.job__header{
    background-color: var(--primary-color);
    padding: 25px;
    color: white;
    display: flex;
    margin-bottom: 40px;
    justify-content: space-between;
    align-items: center;
}

.job__header h2{
    font-size: 32px;
    font-weight: bold;
}

.job__header button{
    background-color: var(--secondary-color);
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
}

.job__section{
    margin-bottom: 25px;
}

.job__section h3{
    margin-bottom: 10px;
    color: var(--primary-color);
}

.job__section div{
    color: var(--secondary-text);
}