.card__wrap{
    background-color: #fff;
    padding: 25px;
    width: 100%;
    border-radius: 15px;
}

.card__wrap:hover{
    box-shadow: 10px 10px 10px rgba(0,0,0,0.1);
    cursor: pointer;
}

.card__wrap .card__title{
    font-size: 28px;
    color: var(--primary-color);
    font-weight: bold;
}

.card__wrap .card__description{
    color: var(--secondary-text);
    margin: 25px 0;
}

.card__wrap .card__action{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card__wrap .card__action .card__action__link{
    color: var(--primary-color);
    font-weight: bold;
}

.card__wrap .card__action .card__action__button{
    background-color: var(--primary-color);
    color: white;
    padding: 10px;
    border-radius: 5px;
}