:root{
  --bg-color: #f6f7f9;
  --primary-color: #0d3162;
  --secondary-color: #ff4928;
  --secondary-text: #71839a;
}

*{
  box-sizing: border-box;
}

body{
  background-color: var(--bg-color);
  font-family: sans-serif;
  margin: 0;
  padding: 25px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

h1, h2, h3{
  margin: 0;
}

.mb-1{
  margin-bottom: 20px;
}

.mb-2{
  margin-bottom: 40px;
}

nav{
  width: 300px;
}

main{
  width: calc(100% - 300px);
  padding: 0 25px;
}

a{
  text-decoration: none;
}

button{
  border: none;
}

@media screen and (max-width: 1000px){
  body{
    display: block;
  }

  nav, main{
    width: 100%;
    padding: 0;
  }
}