.job__vacancy__wrap{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 20px;
    column-gap: 20px;
}

@media screen and (max-width: 1000px){
    .job__vacancy__wrap{
        right: 0;
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 600px){
    .job__vacancy__wrap{
        right: 0;
        grid-template-columns: 1fr;
    }
}