.checkbox__wrap{
    display: flex;
    align-items: center;
}
.checkbox__wrap input{
    margin-right: 10px;
    width: 15px;
    height: 15px;
}

.checkbox__wrap span{
    color: var(--primary-color);
    font-size: 20px;
}